<section class="services section-padding2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 animate-box" data-animate-effect="fadeInUp">
                        <h2 class="section-title">Our <span>Services</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="services3">
                            <div class="services3-img-area"><img src="img/icons/icon-1.png" alt=""></div>
                            <a href="architecture.html">
                                <div class="services3-text-area">
                                    <h4 class="services3-heading">Architecture</h4>
                                    <p>Architecture bibendum evinta anne the vutate sit amen vehicuta nibhen.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services3">
                            <div class="services3-img-area"><img src="img/icons/icon-2.png" alt=""></div>
                            <a href="interior-design.html">
                                <div class="services3-text-area">
                                    <h4 class="services3-heading">Interior Design</h4>
                                    <p>Architecture bibendum evinta anne the vutate sit amen vehicuta nibhen.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services3">
                            <div class="services3-img-area"><img src="img/icons/icon-3.png" alt=""></div>
                            <a href="urban-design.html">
                                <div class="services3-text-area">
                                    <h4 class="services3-heading">Urban Design</h4>
                                    <p>Architecture bibendum evinta anne the vutate sit amen vehicuta nibhen.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services3">
                            <div class="services3-img-area"><img src="img/icons/icon-4.png" alt=""></div>
                            <a href="planning.html">
                                <div class="services3-text-area">
                                    <h4 class="services3-heading">Planing</h4>
                                    <p>Architecture bibendum evinta anne the vutate sit amen vehicuta nibhen.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services3">
                            <div class="services3-img-area"><img src="img/icons/icon-5.png" alt=""></div>
                            <a href="3d-modelling.html">
                                <div class="services3-text-area">
                                    <h4 class="services3-heading">3D Modelling</h4>
                                    <p>Architecture bibendum evinta anne the vutate sit amen vehicuta nibhen.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="services3">
                            <div class="services3-img-area"><img src="img/icons/icon-6.png" alt=""></div>
                            <a href="decor-plan.html">
                                <div class="services3-text-area">
                                    <h4 class="services3-heading">Decor Plan</h4>
                                    <p>Architecture bibendum evinta anne the vutate sit amen vehicuta nibhen.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>