<!-- Team -->
        <section class="team section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="section-title">Our <span>Team</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 owl-carousel owl-theme">
                        <div class="item">
                            <div class="img"> <a href="team-details.html"><img src="img/team/1.jpg" alt=""></a> </div>
                            <div class="info">
                                <h6>Jason Brown</h6>
                                <p>Architect</p>
                                <div class="social valign">
                                    <div class="full-width">
                                        <p>dipl. Arch ETH/SIA</p> <a href="#"><i class="ti-facebook"></i></a> <a href="#"><i class="ti-twitter-alt"></i></a> <a href="#"><i class="ti-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img"> <a href="team-details.html"><img src="img/team/2.jpg" alt=""></a> </div>
                            <div class="info">
                                <h6>Emily White</h6>
                                <p>Architect</p>
                                <div class="social valign">
                                    <div class="full-width">
                                        <p>dipl. Arch FH</p> <a href="#"><i class="ti-facebook"></i></a> <a href="#"><i class="ti-twitter-alt"></i></a> <a href="#"><i class="ti-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img"> <a href="team-details.html"><img src="img/team/3.jpg" alt=""></a> </div>
                            <div class="info">
                                <h6>Enrico Samara</h6>
                                <p>Architect</p>
                                <div class="social valign">
                                    <div class="full-width">
                                        <p>M.A. FH in Architecture</p> <a href="#"><i class="ti-facebook"></i></a> <a href="#"><i class="ti-twitter-alt"></i></a> <a href="#"><i class="ti-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img"> <a href="team-details.html"><img src="img/team/4.jpg" alt=""></a> </div>
                            <div class="info">
                                <h6>Jesica Smith</h6>
                                <p>Architect</p>
                                <div class="social valign">
                                    <div class="full-width">
                                        <p>M.A. FH in Architecture</p> <a href="#"><i class="ti-facebook"></i></a> <a href="#"><i class="ti-twitter-alt"></i></a> <a href="#"><i class="ti-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img"> <a href="team-details.html"><img src="img/team/5.jpg" alt=""></a> </div>
                            <div class="info">
                                <h6>Olivia Brown</h6>
                                <p>Architect</p>
                                <div class="social valign">
                                    <div class="full-width">
                                        <p>dipl. Arch FH</p> <a href="#"><i class="ti-facebook"></i></a> <a href="#"><i class="ti-twitter-alt"></i></a> <a href="#"><i class="ti-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img"> <a href="team-details.html"><img src="img/team/6.jpg" alt=""></a> </div>
                            <div class="info">
                                <h6>Fredia Martin</h6>
                                <p>Architect</p>
                                <div class="social valign">
                                    <div class="full-width">
                                        <p>M.A. FH in Architecture</p> <a href="#"><i class="ti-facebook"></i></a> <a href="#"><i class="ti-twitter-alt"></i></a> <a href="#"><i class="ti-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>