---
import Layout from "../layouts/Layout.astro";
import LinesWrapper from "../components/LinesWrapper.astro";
import HeaderBanner from "../components/about/HeaderBanner.astro";
import AboutSection from "../components/about/AboutSection.astro";
import TeamSection from "../components/about/TeamSection.astro";
import ServicesSection from "../components/about/ServicesSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <!-- <Content/> -->
  <div class="content-wrapper">
    <LinesWrapper />
    <HeaderBanner />
    <AboutSection />
    <ServicesSection />
    <TeamSection />
    <Footer />
  </div>
</Layout>
