 <!-- About -->
        <section class="about section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-30 animate-box" data-animate-effect="fadeInUp">
                        <h2 class="section-title">About <span>Bauen</span></h2>
                        <p>Architecture viverra tristique justo duis vitae diam neque nivamus aestan ateuene artines aringianu atelit finibus viverra nec lacus. Nedana theme erodino setlie suscipe no curabit tristique.</p>
                        <p>Design inilla duiman at elit finibus viverra nec a lacus themo the drudea seneoice misuscipit non sagie the fermen.</p>
                        <p>Planner inilla duiman at elit finibus viverra nec a lacus themo the drudea seneoice misuscipit non sagie the fermen. Viverra tristique jusio the ivite dianne onen nivami acsestion augue artine.</p>
                    </div>
                    <div class="col-lg-6 col-md-12 animate-box" data-animate-effect="fadeInUp">
                        <div class="about-img">
                            <div class="img"> <img src="img/about.jpg" class="img-fluid" alt=""> </div>
                            <div class="about-img-2 about-buro">Canada Office</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>