<head>
<link rel="stylesheet" href="css/plugins.css" />
<link rel="stylesheet" href="css/style.css" />
</head>

<div class="content-wrapper">
    
    <!-- Footer -->
        <footer class="main-footer dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-30">
                        <div class="item fotcont">
                            <div class="fothead">
                                <h6>Phone</h6>
                            </div>
                            <p>+91-9998746661, +91-8401423605</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-30">
                        <div class="item fotcont">
                            <div class="fothead">
                                <h6>Email</h6>
                            </div>
                            <p>viyat@shivadesigningstudio.in</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-30">
                        <div class="item fotcont">
                            <div class="fothead">
                                <h6>Our Address</h6>
                            </div>
                            <p>210, Radhe Kishan Arista, Opp. Hirabhai Tower, Uttamnagar, Maninagar, Ahmedabad</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-left">
                                <p>Designed and Developed By <b><a href="https://www.uncoredigital.com" target="_blank" rel="noopener noreferrer">Uncore Digital</a></b></p>
                            </div>
                        </div>
                        <div class="col-md-4 abot">
                            <div class="social-icon"> <a href="/"><i class="ti-facebook"></i></a> <a href="/"><i class="ti-twitter"></i></a> <a href="/"><i class="ti-instagram"></i></a> <a href="/"><i class="ti-pinterest"></i></a> </div>
                        </div>
                        <div class="col-md-4">
                            <p class="right"><a href="#">Terms &amp; Conditions</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
  </div>
<script is:inline src="js/jquery-3.6.3.min.js"></script>
    <script is:inline src="js/jquery-migrate-3.0.0.min.js"></script>
    <script is:inline src="js/modernizr-2.6.2.min.js"></script>
    <script is:inline src="js/imagesloaded.pkgd.min.js"></script>
    <script is:inline src="js/jquery.isotope.v3.0.2.js"></script>
    <script is:inline src="js/popper.min.js"></script>
    <script is:inline src="js/bootstrap.min.js"></script>
    <script is:inline src="js/scrollIt.min.js"></script>
    <script is:inline src="js/jquery.waypoints.min.js"></script>
    <script is:inline src="js/owl.carousel.min.js"></script>
    <script is:inline src="js/jquery.stellar.min.js"></script>
    <script is:inline src="js/jquery.magnific-popup.js"></script>
    <script is:inline src="js/YouTubePopUp.js"></script>
    <script is:inline src="js/before-after.js"></script>
    <script is:inline src="js/custom.js"></script>