 <!-- Slider -->
    <header class="header slider-fade">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="text-end item bg-img" data-overlay-dark="3" data-background="img/slider/1.jpg">
                <div class="v-middle caption mt-30">
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-lg-7 col-md-12 text-end">
                                <h1>Innovate Desing in Toronto</h1>
                                <p>Architecture viverra tellus nec massa dictum the euismoe.
                                    <br>Curabitur viverra the posuere aukue velit.
                                </p>
                                <div class="butn-light mt-30 mb-30"><a href="#" target="_blank"><span>Buy Now</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-end item bg-img" data-overlay-dark="4" data-background="img/slider/2.jpg">
                <div class="v-middle caption mt-30">
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-lg-7 col-md-12 text-end">
                                <h1>Innovate Desing in Canada</h1>
                                <p>Architecture viverra tellus nec massa dictum the euismoe.
                                    <br>Curabitur viverra the posuere aukue velit.
                                </p>
                                <div class="butn-light mt-30 mb-30"><a href="#" target="_blank"><span>Buy Now</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Corner -->
        <div class="hero-corner"></div>
        <div class="hero-corner3"></div>
        <!-- Left Panel -->
        <div class="left-panel">
            <ul class="social-left clearfix">
                <li><a href="#"><i class="ti-pinterest"></i></a></li>
                <li><a href="#"><i class="ti-instagram"></i></a></li>
                <li><a href="#"><i class="ti-twitter"></i></a></li>
                <li><a href="#"><i class="ti-facebook"></i></a></li>
            </ul>
        </div>
    </header>