 <!-- Projects -->
        <section class="projects section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="section-title">Our <span>Projects</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="position-re o-hidden"> <img src="img/projects/1.jpg" alt=""> </div>
                                <div class="con">
                                    <h6><a href="/">Interior</a></h6>
                                    <h5><a href="/">Cotton House</a></h5>
                                    <div class="line"></div> <a href="/"><i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="position-re o-hidden"> <img src="img/projects/2.jpg" alt=""> </div>
                                <div class="con">
                                    <h6><a href="/">Exterior</a></h6>
                                    <h5><a href="/">Armada Center</a></h5>
                                    <div class="line"></div> <a href="/"><i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="position-re o-hidden"> <img src="img/projects/3.jpg" alt=""> </div>
                                <div class="con">
                                    <h6><a href="/">Urban</a></h6>
                                    <h5><a href="/">Stonya Villa</a></h5>
                                    <div class="line"></div> <a href="/"><i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="position-re o-hidden"> <img src="img/projects/4.jpg" alt=""> </div>
                                <div class="con">
                                    <h6><a href="/">Interior</a></h6>
                                    <h5><a href="/">Prime Hotel</a></h5>
                                    <div class="line"></div> <a href="/"><i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>