<!-- Services -->
        <section class="services section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="section-title">Our <span>Services</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="item">
                            <a href="/"> <img src="img/icons/icon-1.png" alt="">
                                <h5>Architecture</h5>
                                <div class="line"></div>
                                <p>Architecture bibendum eros eget lacus the vulputate sit amet vehicuta nibhen ulicera in the vitae miss.</p>
                                <div class="numb">01</div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="/"> <img src="img/icons/icon-2.png" alt="">
                                <h5>Interior Design</h5>
                                <div class="line"></div>
                                <p>Architecture bibendum eros eget lacus the vulputate sit amet vehicuta nibhen ulicera in the vitae miss.</p>
                                <div class="numb">02</div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="/"> <img src="img/icons/icon-3.png" alt="">
                                <h5>Urban Design</h5>
                                <div class="line"></div>
                                <p>Architecture bibendum eros eget lacus the vulputate sit amet vehicuta nibhen ulicera in the vitae miss.</p>
                                <div class="numb">03</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>