<!-- Home -->
    
    <main class="main main-inner main-projects bg-projects" data-stellar-background-ratio="0.6">
      <div class="container">
        <header class="main-header">
          <h1>Projects</h1>
        </header>
      </div>

      <!-- Lines -->

      <div class="page-lines">
        <div class="container">
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </main>