---
// import "../../../public/gallery-css/style.css";
---


<div class="layout">
    
    <!-- Home -->
    
    <main class="main main-inner main-projects bg-projects" data-stellar-background-ratio="0.6">
      <div class="container">
        <header class="main-header">
          <h1>Projects</h1>
        </header>
      </div>

      <!-- Lines -->

      <div class="page-lines">
        <div class="container">
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
          </div>
          <div class="col-line col-xs-4">
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </main>

    <div class="content">   
    
      <!-- Projects -->

      <section class="projects">
        <div class="js-projects-gallery">
          <div class="row">
            <div class="project project-light col-sm-6 col-md-4 col-lg-3">
              <a href="img/gallery/1-480x880.jpg" title="Residential care project in Paris">
                <figure>
                  <img alt="" src="img/gallery/1-480x880.jpg">
                  <figcaption>
                    <h3 class="project-title">
                      Residential care<br> project in Paris
                    </h3>
                    <h4 class="project-category">
                      Architecture
                    </h4>
                    <div class="project-zoom"></div>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="project project-light col-sm-6 col-md-4 col-lg-3">
              <a href="img/gallery/2-480x880.jpg" title="Concert hall in New york">
                <figure>
                  <img alt="" src="img/gallery/2-480x880.jpg">
                  <figcaption>
                    <h3 class="project-title">
                      Concert hall<br> in New york
                    </h3>
                    <h4 class="project-category">
                      Interior
                    </h4>
                    <div class="project-zoom"></div>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="project col-sm-6 col-md-4 col-lg-3">
              <a href="img/gallery/3-480x880.jpg" title="Modern hotel in London">
                <figure>
                  <img alt="" src="img/gallery/3-480x880.jpg">
                  <figcaption>
                    <h3 class="project-title">
                      Modern hotel<br>in London
                    </h3>
                    <h4 class="project-category">
                      Architecture
                    </h4>
                    <div class="project-zoom"></div>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="project col-sm-6 col-md-4 col-lg-3">
              <a href="img/gallery/4-480x880.jpg" title="Modern hotel in London">
                <figure>
                  <img alt="" src="img/gallery/4-480x880.jpg">
                  <figcaption>
                    <h3 class="project-title">
                      Modern hotel<br>in London
                    </h3>
                    <h4 class="project-category">
                      Interior
                    </h4>
                    <div class="project-zoom"></div>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="project col-sm-6 col-md-4 col-lg-3">
              <a href="img/gallery/5-480x880.jpg" title="Modern Livingroom in New York">
                <figure>
                  <img alt="" src="img/gallery/5-480x880.jpg">
                  <figcaption>
                    <h3 class="project-title">
                      Modern Livingroom<br> in New York
                    </h3>
                    <h4 class="project-category">
                      Architecture
                    </h4>
                    <div class="project-zoom"></div>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="project project-light col-sm-6 col-md-4 col-lg-3">
              <a href="img/gallery/6-480x880.jpg" title="Observatory plan In moscow">
                <figure>
                  <img alt="" src="img/gallery/6-480x880.jpg">
                  <figcaption>
                    <h3 class="project-title">
                      Observatory plan<br>In moscow
                    </h3>
                    <h4 class="project-category">
                      Interior
                    </h4>
                    <div class="project-zoom"></div>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="project col-sm-6 col-md-4 col-lg-3">
              <a href="img/gallery/7-480x880.jpg" title="Townhouse design in Chicago">
                <figure>
                  <img alt="" src="img/gallery/7-480x880.jpg">
                  <figcaption>
                    <h3 class="project-title">
                      Townhouse design<br> in Chicago
                    </h3>
                    <h4 class="project-category">
                      Architecture
                    </h4>
                    <div class="project-zoom"></div>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="project project-light col-sm-6 col-md-4 col-lg-3">
              <a href="img/gallery/8-480x880.jpg" title="National Library in Madrid">
                <figure>
                  <img alt="" src="img/gallery/8-480x880.jpg">
                  <figcaption>
                    <h3 class="project-title">
                      National Library<br> in Madrid
                    </h3>
                    <h4 class="project-category">
                      Interior
                    </h4>
                    <div class="project-zoom"></div>
                  </figcaption>
                </figure>
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="section-content text-center">
          <a href="#" class="btn btn-gray">More projects</a>
        </div> -->
      </section>
    </div>
  </div>